<div class="container">
    <div class="row">
      <div class="col-8 mt-4 mx-auto" *ngFor="let post of posts;let i=index;">
        <div class="card ">
          <div class="card-header">
            Post Number {{post.id}}
          </div>
          <div class="card-body  ">
            <h5 class="card-title mb-4">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <a [routerLink]="['/panal','posts','control',post.id,'edit']"  class="btn btn-outline-primary mr-3 w-100 rounded-pill mb-2">Edit</a>
            <button (click)="onDelete(post.id, i)" class="btn btn-danger w-100 rounded-pill">Delete</button>
          </div>

        </div>
      </div>
    </div>
</div>