<div class="container-fluid">
  <div class="row">
    <div class="background mt-3 ml-auto">
      <img src="../../../assets/undraw_mobile_development_8gyo.svg" class="img-fluid ">
    </div>
  </div>
</div>
<div class="over-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12  mt-4 ">
        <h1 class="text-center alert alert-nav mt-3 rounded-pill">Overview</h1>
        <table class="table table-hover  table-responsive-sm table-responsive-md">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>
                  there are three modules ( app -
                  panel - landing ) I used a lazy loading routing to load
                  panel and landing modules
                </td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>
                    In a panel module create a responsive design as admin
                    panel ( must using bootstrap 4 )
                </td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td> 
                  I used a call HTTP Requests From
                  ( https://jsonplaceholder.typicode.com/ ) 
                </td> 
              </tr>

              <tr>
                <th scope="row">4</th>
                <td>
                  In a panel module I protected this Route with authentication firebase Must Be Login,
                  I Have Routing Like This: 
                    <ul>
                      <li>http://localhost:4200/panel/posts/control</li>
                      <li>http://localhost:4200/panel/posts/all</li>
                      <li>http://localhost:4200/panel/comments/control</li>
                      <li>http://localhost:4200/panel/ comments /all</li>
                    </ul>
                </td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td>
                    in the landing module that shows posts ONLY without any Guards ( like twitter, Facebook ) timeline.
              
                </td>
              </tr>
            
            </tbody>
          </table>
    </div>
    </div>
  </div>
</div>