<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-5 ">
            <form role="form" [formGroup]="form" (submit)="onSubmitPost()">
                <div class="form-group float-label-control">
                    <label for="">Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name"
                    [ngClass]="{'border-danger': name.touched && name.invalid,'border-success': name.valid}">
                    <small class="form-text  text-danger"  *ngIf=" name.touched && name.errors?.required">
                        must be required
                    </small>
                    <small class="form-text   text-danger" *ngIf="name.errors?.minlength">
                        must be rang {{name.errors?.minlength.requiredLength }}
                    </small>
                </div>
                <div class="form-group float-label-control">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="email"
                    [ngClass]="{'border-danger': email.touched && email.invalid,'border-success': email.valid}">
                    <small class="form-text  text-danger"  *ngIf=" email.touched && email.errors?.required">
                        must be required
                    </small>
                    <small class="form-text   text-danger" *ngIf="email.errors?.minlength">
                        must be rang {{email.errors?.minlength.requiredLength }}
                    </small>
                </div>
                <div class="form-group float-label-control">
                    <label for="">Body</label>
                    <textarea  class="form-control" formControlName="body" placeholder="post body" rows="6"
                    [ngClass]="{'border-danger': body.touched && body.invalid,'border-success': body.valid}"></textarea>
                    <small class="form-text    text-danger"  *ngIf=" body.touched && body.errors?.required">
                        must be required
                    </small>
                    <small class="form-text   text-danger" *ngIf="body.errors?.minlength">
                        must be rang {{body.errors?.minlength.requiredLength }}
                    </small>
                </div>
                <div class="form-group float-label-control">
                <button type="submit" class="btn btn-info w-100  rounded-pill">{{mode == 'create'? 'Save' : 'Update'}}</button> 
                </div>
            </form>
        </div>
    </div>
</div>